@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for {
        &__item {
            height: 268px;
        }
    }

    .product-content {
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer__logo {
        display: none;
    }

    .filtering-form {
        left: -120px;
    }

    .cart {
        display: block;
    }

    .cart__form {
        max-width: 376px;
        margin-top: 64px;
    }

    .product__title {
        margin-bottom: 32px;
        margin-top: 64px;
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product {
        width: 345px;
    }
}

