.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1050;
    opacity: 0; 
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: none;
    margin: 0;
    padding: 0;
    display: none;
}

.modal:target {
    display: block;
    opacity: 1; 
	pointer-events: auto; 
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin-top: 66px;
    left: 50%;
   
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    width: 543px;
    max-width: 100%;
    max-height: 480px;
    padding: 40px 48px;

}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
       
}
.modal__cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__item {
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_1 {
            border-top: 0.5px solid rgb(202, 205, 216);
            margin-top: 24px;
            padding-top: 24px;
        }
    }
    &__img {
        width: 144px; 
        height: 144px; 
         
    }

    &__left {
        display: flex;
        gap: 24px;
        
    }

    &__info {
        display: flex;
        flex-direction: column;
       
        
    }

    &__title {
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    
    &__price {
        color: rgb(5, 5, 5);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 12px;
        
    }

    &__link {
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        letter-spacing: 0px;
        text-align: left;
        text-decoration-line: underline;
           }

    &__link-box {
        padding-top: 54px;
        display: flex;
        gap: 24px;
    }
    &__input {
        border: 1px solid rgb(247, 246, 246);
        border-radius: 6px;
        border-color: rgb(247, 246, 246);
        background: rgb(247, 246, 246);
        width: 51px;
        height: 71px;
        padding-left: 21px;
      }
      &__button-1 {
        width: 200px;
        height: 37px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        background-color: #fff;
        font-family: inherit;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        transition: 1s;
      }
      &__button-1:hover {
        background-color: #000;
        color: #FFFFFF;
      }
      &__button-1_modal {
        width: 207px;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: black;
           
       
    }

}
    .modal__total {
         display: flex;
         justify-content: space-between;
         padding-top: 24px;

        &__heading {
            text-align: justify;
            width: 222px;
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
        
        }
    }
    
    // .modal__total {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding-top: 24px;
    //     border-top: 1px solid #eee;
    //     margin-top: 20px;
        
    //     &__heading {
    //         font-size: 24px;
    //         font-weight: 500;
    //         line-height: 1.5;
    //         color: #000; /* Явно задайте цвет */
            
    //         margin: 0; /* Уберите стандартные отступы */
    //     }
    // }
