@import "vars";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url("./img/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // color: #FFFFFF;
}

.top-catalog {
    height: 400px;
    background-image: url("./img/catalog.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:  #FFFFFF;
}

.header {
    height: 77px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__input {
    font-family: inherit;
    width: 288px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid $color-text;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: $color-text;
    padding-left: 32px;
    padding-right: 32px;
}

.header__input::placeholder {
    color: $color-text;  
}

.menu-mobile {
    display: none;
}

.menu__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
  }

.menu__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    text-align: left;
    text-decoration: none;
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 64px;
}

.catalog__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
  }

.catalog__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    text-decoration: none;
}

.catalog__filter{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.button__filter {
    background-color: transparent;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    border-radius: 20px;
    width: 182px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    line-height: 20px;
}

.button__popul {
    background-color: transparent;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    border-radius: 20px;
    width: 227px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    line-height: 20px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .select__popul {
    appearance: none;
    padding: 8px 30px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 227px;
    height: 40px;
    background-color: white;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  
  .select-icon {
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    max-width: 792px;
    color: $color-text;
}

.title__catalog {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 126px;
    margin-bottom: 126px;
    max-width: 792px;
    color: $color-text;
}

.top__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.link-superior {
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    transition: 1s;

    &:hover {
        text-decoration: none;
        color: rgb(253, 253, 253);
    }
}

.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.product__title {
    margin-bottom: 32px;
    margin-top: 64px;
}

.for-box {
    padding-top: 64px;
}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__item {
    height: 415px;
    grid-column:span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for__item_big {
    grid-column: span 6;
}

.for__item_1 {
    background-image: url(./img/for-1.jpeg);
}

.for__item_2 {
    background-image: url(./img/for-2.jpeg);
}

.for__item_3 {
    background-image: url(./img/for-3.jpeg);
}

.for__item_4 {
    background-image: url(./img/for-4.jpeg);
}

.for__item_5 {
    background-image: url(./img/for-5.jpeg);
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
}

.product__img {
    width: 100%;
}

.product-box__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 64px;
}

.product-content {
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.product__name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
    text-decoration: none;
}

.product__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.product__box-price {
    display: flex;
    gap: 32px;
}

.product__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.product__price-nosale {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.product-catalog {
    margin-bottom: 39px;
}

.link-inferior {
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 39px;
    margin-bottom: 64px;
    transition: 1s;

    &:hover {
        text-decoration: none;
        color: rgb(136, 136, 136);
    }
}

.footer {
    background: #F7F6F6;
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__social-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
       padding-bottom: 12px;
}

   &__social-link {
       color: #888888;
       transition: 1s;
}

   &__social-link:hover {
        color: #000;
}
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #888888;
}

.footer__content {
    width: 792px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-subscribe {
    gap: 12px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.footer__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__menu-link {
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    display: inline-block;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__contacts-link {
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    display: inline-block;
}

.footer__subscribe {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__text {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.footer__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    outline: none;
    color: rgb(196, 196, 196);
    font-family: inherit;
    font-size: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.footer__input::placeholder {
    color: #c4c4c4;
}

.footer__button {
    width: 100%;
    height: 40px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    border: 0;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
    transition: 1s;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }

}

@import 'cart';
@import 'catalog';
@import 'tablet';
@import 'mobile';
@import 'modalwindow';
