* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url("./img/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-catalog {
  height: 400px;
  background-image: url("./img/catalog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

.modal-wrapper {
  position: relative;
}

.header {
  height: 77px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__input {
  font-family: inherit;
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.menu-mobile {
  display: none;
}

.menu__list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 64px;
}

.catalog__list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.catalog__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.catalog__filter {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.button__filter {
  background-color: transparent;
  border: 1px solid rgb(196, 196, 196);
  box-sizing: border-box;
  border-radius: 20px;
  width: 182px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  line-height: 20px;
}

.button__popul {
  background-color: transparent;
  border: 1px solid rgb(196, 196, 196);
  box-sizing: border-box;
  border-radius: 20px;
  width: 227px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  line-height: 20px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select__popul {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 30px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 227px;
  height: 40px;
  background-color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-icon {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
  color: #FFFFFF;
}

.title__catalog {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 126px;
  margin-bottom: 126px;
  max-width: 792px;
  color: #FFFFFF;
}

.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.link-superior {
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  transition: 1s;
}
.link-superior:hover {
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product__title {
  margin-bottom: 32px;
  margin-top: 64px;
}

.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(./img/for-1.jpeg);
}

.for__item_2 {
  background-image: url(./img/for-2.jpeg);
}

.for__item_3 {
  background-image: url(./img/for-3.jpeg);
}

.for__item_4 {
  background-image: url(./img/for-4.jpeg);
}

.for__item_5 {
  background-image: url(./img/for-5.jpeg);
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__img {
  width: 100%;
}

.product-box__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 64px;
}

.product-content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.product__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
  text-decoration: none;
}

.product__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product__box-price {
  display: flex;
  gap: 32px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__price-nosale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.product-catalog {
  margin-bottom: 39px;
}

.link-inferior {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 39px;
  margin-bottom: 64px;
  transition: 1s;
}
.link-inferior:hover {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__social-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 12px;
}
.footer__social-link {
  color: #888888;
  transition: 1s;
}
.footer__social-link:hover {
  color: #000;
}

.line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #888888;
}

.footer__content {
  width: 792px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-subscribe {
  gap: 12px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__menu-link {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  display: inline-block;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer__contacts-link {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  display: inline-block;
}

.footer__subscribe {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__text {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.footer__input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  outline: none;
  color: rgb(196, 196, 196);
  font-family: inherit;
  font-size: 12px;
  padding-left: 17px;
  padding-right: 17px;
}

.footer__input::-moz-placeholder {
  color: #c4c4c4;
}

.footer__input::placeholder {
  color: #c4c4c4;
}

.footer__button {
  width: 100%;
  height: 40px;
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.41);
  border: 0;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  transition: 1s;
}
.footer__button:hover {
  background-color: #000000;
  color: #ffffff;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: none;
}

.modal:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal-dialog {
  /* position: relative; */
  position: absolute;
  width: auto;
  margin-top: 66px;
  /* left: 50%; */
  right: calc(50% - 600px);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  width: 543px;
  max-width: 100%;
  max-height: 480px;
  padding: 40px 48px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
}

.modal__cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.modal__cart__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal__cart__item_1 {
  border-top: 0.5px solid rgb(202, 205, 216);
  margin-top: 24px;
  padding-top: 24px;
}
.modal__cart__img {
  width: 144px;
  height: 144px;
}
.modal__cart__left {
  display: flex;
  gap: 24px;
}
.modal__cart__info {
  display: flex;
  flex-direction: column;
}
.modal__cart__title {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.modal__cart__price {
  color: rgb(5, 5, 5);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 12px;
}
.modal__cart__link {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
}
.modal__cart__link-box {
  padding-top: 54px;
  display: flex;
  gap: 24px;
}
.modal__cart__input {
  border: 1px solid rgb(247, 246, 246);
  border-radius: 6px;
  border-color: rgb(247, 246, 246);
  background: rgb(247, 246, 246);
  width: 51px;
  height: 71px;
  padding-left: 21px;
}
.modal__cart__button-1 {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: #fff;
  font-family: inherit;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  transition: 1s;
}
.modal__cart__button-1:hover {
  background-color: #000;
  color: #FFFFFF;
}
.modal__cart__button-1_modal {
  width: 207px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.modal__total {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.modal__total__heading {
  text-align: justify;
  width: 222px;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.top-cart {
  height: 400px;
  background-image: url(./img/topcart.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
  letter-spacing: 0%;
  text-align: left;
  color: #FFFFFF;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-top: 0.5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__link {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  border: 1px solid rgb(247, 246, 246);
  border-radius: 6px;
  border-color: rgb(247, 246, 246);
  background: rgb(247, 246, 246);
  width: 50px;
  height: 51px;
  padding-left: 21px;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 276px;
}
.cart__title {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__description {
  color: rgb(136, 136, 136);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.cart__content {
  grid-column: span 8;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__button {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__total-price {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 64px;
}

.cart__button-1_catalog {
  padding-top: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.cart__button-1_catalog:hover {
  background-color: #000000;
  color: #ffffff;
}

.cart__button-1 {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-family: inherit;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  transition: 1s;
}
.cart__button-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.cart__button-1_order {
  width: 290px;
  height: 41px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  margin-top: 18px;
}
.cart__button-1_order:hover {
  background-color: #000;
  color: #FFFFFF;
}

.cart__button-1_cart {
  background-color: #ffffff;
}

.cart__form-heading {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 42px;
}

.cart-form {
  display: flex;
  flex-direction: column;
  width: 288px;
}
.cart-form__input {
  font-family: inherit;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: rgb(247, 246, 246);
}
.cart-form__input:focus {
  outline: none;
}
.cart-form__input_1 {
  padding-top: 35px;
}
.cart-form__input_2 {
  padding-top: 44px;
}
.cart-form__input_3 {
  padding-top: 44px;
}

.product-content__bag {
  display: flex;
  position: relative;
}
.product-content__img {
  position: absolute;
  width: 20px;
  height: 18px;
}
.product-content__img_vector {
  left: 303px;
  padding-top: 11px;
}
.product-content__img_like {
  left: 347px;
  padding-top: 13px;
}

.header {
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.select-filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.select-filter {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-family: inherit;
}

.select-filter1 {
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 23px;
  padding-right: 53px;
  background-image: url(img/polygon1.svg);
  background-position: 0%;
  background-position-x: 140px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 182px;
  height: 40px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}

.select-filter2 {
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 23px;
  padding-right: 53px;
  background-image: url(img/polygon1.svg);
  background-position: 0%;
  background-position-x: 185px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}

.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  /* left: -360px; */
  right: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  z-index: 10;
}

.filtering-form__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 468px;
  min-width: 445px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}

.filtering-form__legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 14px;
}

.radio__input {
  display: none;
}

.radio__label {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.radio__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50px;
  background: #fff;
}

.radio__input:checked + .radio__label::before {
  content: "";
  position: absolute;
  border-color: #000;
  background-image: url(img/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filtering-form__range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.filtering-form__range__input {
  width: 189.05px;
  height: 10px;
  outline: none;
  overflow: hidden;
  position: absolute;
}
.filtering-form__range__input, .filtering-form__range__input::-webkit-slider-runnable-track, .filtering-form__range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.filtering-form__range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background-color: #000;
}
.filtering-form__range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.filtering-form__range__input::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  background: #000;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
  position: relative;
  z-index: 1;
}
.filtering-form__range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.filtering-form__range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.filtering-form__range__input-minmax {
  font-family: inherit;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  padding-left: 30px;
  font-size: 14px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  background: #fff;
}

.checkbox__label-white::before {
  background-color: #fff;
  border-color: #808080;
}

.checkbox__label-black::before {
  background-color: #000000;
  border-color: #000;
}

.checkbox__label-gray::before {
  background-color: #737373;
  border-color: #737373;
}

.checkbox__label-red::before {
  background-color: red;
  border-color: red;
}

.checkbox__label-orange::before {
  background-color: #FF7A41;
  border-color: #FF7A41;
}

.checkbox__label-yellow::before {
  background-color: #F2CB01;
  border-color: #F2CB01;
}

.checkbox__label-green::before {
  background-color: #00BF2A;
  border-color: #00BF2A;
}

.checkbox__label-aquamarine::before {
  background-color: #1CCC97;
  border-color: #1CCC97;
}

.checkbox__label-aqua::before {
  background-color: #009FE3;
  border-color: #009FE3;
}

.checkbox__label-blue::before {
  background-color: #000AF8;
  border-color: #000AF8;
}

.checkbox__label-violet::before {
  background-color: #6710D6;
  border-color: #6710D6;
}

.checkbox__label-purple::before {
  background-color: #9D0DB5;
  border-color: #9D0DB5;
}

.checkbox__label-lilac::before {
  background-color: #D89AFF;
  border-color: #D89AFF;
}

.checkbox__label-pink::before {
  background-color: #FF65A6;
  border-color: #FF65A6;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(img/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__input:checked + .checkbox__label-blue::before,
.checkbox__input:checked + .checkbox__label-purple::before,
.checkbox__input:checked + .checkbox__label-black::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='white'/%3E%3C/svg%3E");
}

.filtering-form__button {
  width: 190px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #000000;
  transition: 1s;
}
.filtering-form__button:hover {
  background-color: #000;
  color: #FFFFFF;
}

.section-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 61px;
  padding-bottom: 36px;
}

.product-content_like {
  position: relative;
}

.product-content__bag {
  position: absolute;
  display: none;
}

.product-content_like:hover .product-content__bag {
  display: block;
}

.product-content__img {
  position: absolute;
  width: 20px;
  height: 18px;
}

.product-content__img_vector {
  left: 303px;
  padding-top: 11px;
}

.product-content__img_like {
  left: 347px;
  padding-top: 13px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .modal-dialog {
    right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .filtering-form {
    /* left: -120px; */
    right: calc(0% - 237px);
  }
  .cart {
    display: block;
  }
  .cart__form {
    max-width: 376px;
    margin-top: 64px;
  }
  .product__title {
    margin-bottom: 32px;
    margin-top: 64px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
  .modal-dialog {
    right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
    width: 100%;
  }
  .title__catalog {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
    width: 100%;
  }
  .select-filter-box {
    flex-direction: column-reverse;
  }
  .filtering-form {
    left: 0;
    right: auto;
  }
  .filtering-form__content {
    max-height: none;
    min-width: 190px;
  }
  .catalog {
    flex-direction: column;
    align-content: flex-start;
    row-gap: 14px;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-superior {
    font-size: 14px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__img {
    display: none;
  }
  .cart__title {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__description {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__button-1_catalog {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
  .heading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
    background-size: cover;
  }
  .for__item_big {
    height: 244px;
  }
  .for-box {
    padding-top: 32px;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-box__title {
    max-width: 343px;
    font-size: 24px;
    line-height: 29px;
    margin-top: 36px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
}/*# sourceMappingURL=style.css.map */